
**/node_modules/
**/.env
**/.env.local
**/build/
**/dist/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
npm-debug.log*
frontend/src/logo.svg
frontend/src/reportWebVitals.js
frontend/src/setupTests.js
frontend/src/App.test.js
