form {
    padding: 30px;
    background: rgb(252, 249, 249);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

form label {
    font-weight: 700;
    font-size: 1.1rem;
    margin: 10px;
    padding-right: 10px;
}

form input {
    padding: 12px 16px;
    border: 2px solid #dfe6e9;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
}

form input:focus {
    border-color: #0984e3;
}

.form-submit{
    background: #0984e3;
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
}

.form-submit:hover {
    background: #074b83;
}